@charset "utf-8";
@use 'base/mixin' as *;

@include mq('mobile') {
  .container {
    min-width: 320px;
  }

  .layout_header {
    display: block;

    .layout_header_logo {
      display: block;
      padding-left: 15px;
      padding-bottom: 30px;
    }
    .layout_header_nav {
      float: left;
    }
    .layout_header_join {
      display: block;
      float: left;
      min-width: auto;
    }
  }

  .button {
    margin: 7px;
    padding: 8px 22px;
  }

  .board-header {
    padding: 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f1f1f1;
    span {
      display: none;
    }
  }
  .board-list {
    li {
      position: relative;
      justify-content: flex-start;
      padding: 40px 0 15px 0;
      border-bottom: 1px solid #e6e6e6;
      font-size: 14px;
      span {
        padding-left: 10px;
        text-align: left;
      }
      span:nth-child(1) {
        display: none;
      }
      span:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;

        a {
          width: 100%;
          height: 100%;
          padding: 10px 0 0 10px;
        }
        em {
          display: block;
          width: 95%;

          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      span:nth-child(3),
      span:nth-child(4) {
        width: auto;
        font-size: 12px;
        color: #b5b5b5;
      }
    }
  }
}
